* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutus {
  width: 1090px;
  height: 1090px;
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: #e7e7e7;
  margin-top: 100px;
  margin-left: 300px;
}

